## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

C:\Users\Alex\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\Alex\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\Alex\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\Alex\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\Alex\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\Alex\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
C:\Users\Alex\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\Alex\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\Alex\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\Alex\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\Alex\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\Alex\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns = ['EIN', 'NAME'], inplace=True)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_df.groupby('APPLICATION_TYPE').count().sort_values('STATUS',ascending=False)

,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
APPLICATION_TYPE,,,,,,,,,
T3,27037,27037,27037,27037,27037,27037,27037,27037,27037
T4,1542,1542,1542,1542,1542,1542,1542,1542,1542
T6,1216,1216,1216,1216,1216,1216,1216,1216,1216
T5,1173,1173,1173,1173,1173,1173,1173,1173,1173
T19,1065,1065,1065,1065,1065,1065,1065,1065,1065
T8,737,737,737,737,737,737,737,737,737
T7,725,725,725,725,725,725,725,725,725
T10,528,528,528,528,528,528,528,528,528
T9,156,156,156,156,156,156,156,156,156
T13,66,66,66,66,66,66,66,66,66
T12,27,27,27,27,27,27,27,27,27
T2,16,16,16,16,16,16,16,16,16
T14,3,3,3,3,3,3,3,3,3
T25,3,3,3,3,3,3,3,3,3
T29,2,2,2,2,2,2,2,2,2
T15,2,2,2,2,2,2,2,2,2
T17,1,1,1,1,1,1,1,1,1

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ['T9', 'T13','T12','T2','T14','T25','T29','T15','T17']

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C2561        1
C6100        1
C1283        1
C1236        1
C2600        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df['CLASSIFICATION'].value_counts().loc[application_df['CLASSIFICATION'].value_counts()>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C2300       32
C7200       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1278       10
C1238       10
C1237        9
C1235        9
C7210        7
C4100        6
C2400        6
C1720        6
C1257        5
C1600        5
C1260        3
C0           3
C2710        3
C1256        2
C1234        2
C3200        2
C1267        2
C1246        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
lesser = application_df['CLASSIFICATION'].value_counts().loc[application_df['CLASSIFICATION'].value_counts()<1000]
classifications_to_replace = list(lesser.index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df, columns = ['CLASSIFICATION','APPLICATION_TYPE','AFFILIATION','USE_CASE','ORGANIZATION','STATUS','INCOME_AMT','SPECIAL_CONSIDERATIONS'])
application_df.head()

,ASK_AMT,IS_SUCCESSFUL,CLASSIFICATION_C1000,CLASSIFICATION_C1200,CLASSIFICATION_C2000,CLASSIFICATION_C2100,CLASSIFICATION_C3000,CLASSIFICATION_Other,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,5000,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
1,108590,1,0,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,5000,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,6692,1,0,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,142590,1,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [10]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL']
X = application_df.drop(columns='IS_SUCCESSFUL')

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78, stratify=y)

In [11]:
#Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [13]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=3, activation="relu",input_dim=44))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=6, activation="relu"))

# Third hidden layer!!!
nn.add(tf.keras.layers.Dense(units=6, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_4 (Dense)              (None, 3)                 135
_________________________________________________________________
dense_5 (Dense)              (None, 6)                 24
_________________________________________________________________
dense_6 (Dense)              (None, 6)                 42
_________________________________________________________________
dense_7 (Dense)              (None, 1)                 7
=================================================================
Total params: 208
Trainable params: 208
Non-trainable params: 0
_________________________________________________________________

In [14]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

WARNING:tensorflow:From C:\Users\Alex\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\ops\nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

In [16]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=150)

Epoch 1/150
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5533 - acc: 0.7286
Epoch 2/150
25724/25724 [==============================] - 1s 27us/sample - loss: 0.5535 - acc: 0.7287
Epoch 3/150
25724/25724 [==============================] - 1s 27us/sample - loss: 0.5533 - acc: 0.7290
Epoch 4/150
25724/25724 [==============================] - 1s 28us/sample - loss: 0.5537 - acc: 0.7285
Epoch 5/150
25724/25724 [==============================] - 1s 27us/sample - loss: 0.5532 - acc: 0.7292
Epoch 6/150
25724/25724 [==============================] - 1s 27us/sample - loss: 0.5533 - acc: 0.7286
Epoch 7/150
25724/25724 [==============================] - 1s 27us/sample - loss: 0.5533 - acc: 0.7291
Epoch 8/150
25724/25724 [==============================] - 1s 28us/sample - loss: 0.5536 - acc: 0.7284
Epoch 9/150
25724/25724 [==============================] - 1s 27us/sample - loss: 0.5536 - acc: 0.7286
Epoch 10/150
25724/25724 [==============================] - 1s 27us/sample - loss: 0.5533 - acc: 0.7287
Epoch 11/150
25724/25724 [==============================] - 1s 27us/sample - loss: 0.5533 - acc: 0.7286
Epoch 12/150
25724/25724 [==============================] - 1s 27us/sample - loss: 0.5532 - acc: 0.7289
Epoch 13/150
25724/25724 [==============================] - 1s 27us/sample - loss: 0.5531 - acc: 0.7291
Epoch 14/150
25724/25724 [==============================] - 1s 27us/sample - loss: 0.5532 - acc: 0.7280
Epoch 15/150
25724/25724 [==============================] - 1s 27us/sample - loss: 0.5529 - acc: 0.7287
Epoch 16/150
25724/25724 [==============================] - 1s 27us/sample - loss: 0.5532 - acc: 0.7287
Epoch 17/150
25724/25724 [==============================] - 1s 27us/sample - loss: 0.5534 - acc: 0.7287
Epoch 18/150
25724/25724 [==============================] - 1s 27us/sample - loss: 0.5530 - acc: 0.7288
Epoch 19/150
25724/25724 [==============================] - 1s 30us/sample - loss: 0.5530 - acc: 0.7290
Epoch 20/150
25724/25724 [==============================] - 1s 28us/sample - loss: 0.5530 - acc: 0.7289
Epoch 21/150
25724/25724 [==============================] - 1s 28us/sample - loss: 0.5531 - acc: 0.7290
Epoch 22/150
25724/25724 [==============================] - 1s 27us/sample - loss: 0.5532 - acc: 0.7289
Epoch 23/150
25724/25724 [==============================] - 1s 27us/sample - loss: 0.5532 - acc: 0.7292
Epoch 24/150
25724/25724 [==============================] - 1s 30us/sample - loss: 0.5529 - acc: 0.7291
Epoch 25/150
25724/25724 [==============================] - 1s 34us/sample - loss: 0.5529 - acc: 0.7294
Epoch 26/150
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5529 - acc: 0.7287
Epoch 27/150
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5527 - acc: 0.7292
Epoch 28/150
25724/25724 [==============================] - 1s 32us/sample - loss: 0.5532 - acc: 0.7286
Epoch 29/150
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5530 - acc: 0.7288
Epoch 30/150
25724/25724 [==============================] - 1s 27us/sample - loss: 0.5529 - acc: 0.7292
Epoch 31/150
25724/25724 [==============================] - 1s 28us/sample - loss: 0.5529 - acc: 0.7294
Epoch 32/150
25724/25724 [==============================] - 1s 27us/sample - loss: 0.5528 - acc: 0.7288
Epoch 33/150
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5527 - acc: 0.7287
Epoch 34/150
25724/25724 [==============================] - 1s 27us/sample - loss: 0.5529 - acc: 0.7289
Epoch 35/150
25724/25724 [==============================] - 1s 27us/sample - loss: 0.5528 - acc: 0.7294
Epoch 36/150
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5525 - acc: 0.7286
Epoch 37/150
25724/25724 [==============================] - 1s 27us/sample - loss: 0.5529 - acc: 0.7285
Epoch 38/150
25724/25724 [==============================] - 1s 27us/sample - loss: 0.5527 - acc: 0.7290
Epoch 39/150
25724/25724 [==============================] - 1s 27us/sample - loss: 0.5526 - acc: 0.7287
Epoch 40/150
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5523 - acc: 0.7285
Epoch 41/150
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5528 - acc: 0.7285
Epoch 42/150
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5524 - acc: 0.7293
Epoch 43/150
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5528 - acc: 0.7283
Epoch 44/150
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5525 - acc: 0.7291
Epoch 45/150
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5525 - acc: 0.7287
Epoch 46/150
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5524 - acc: 0.7287
Epoch 47/150
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5525 - acc: 0.7283
Epoch 48/150
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5526 - acc: 0.7292
Epoch 49/150
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5527 - acc: 0.7292
Epoch 50/150
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5526 - acc: 0.7287
Epoch 51/150
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5525 - acc: 0.7293
Epoch 52/150
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5526 - acc: 0.7289
Epoch 53/150
25724/25724 [==============================] - 1s 27us/sample - loss: 0.5525 - acc: 0.7291
Epoch 54/150
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5528 - acc: 0.7295
Epoch 55/150
25724/25724 [==============================] - 1s 27us/sample - loss: 0.5526 - acc: 0.7295
Epoch 56/150
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5525 - acc: 0.7286
Epoch 57/150
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5525 - acc: 0.7287
Epoch 58/150
25724/25724 [==============================] - 1s 27us/sample - loss: 0.5524 - acc: 0.7284
Epoch 59/150
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5522 - acc: 0.7291
Epoch 60/150
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5523 - acc: 0.7295
Epoch 61/150
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5523 - acc: 0.7290
Epoch 62/150
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5523 - acc: 0.7288
Epoch 63/150
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5524 - acc: 0.7294
Epoch 64/150
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5523 - acc: 0.7292
Epoch 65/150
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5523 - acc: 0.7290
Epoch 66/150
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5524 - acc: 0.7301
Epoch 67/150
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5523 - acc: 0.7290
Epoch 68/150
25724/25724 [==============================] - 1s 27us/sample - loss: 0.5524 - acc: 0.7293
Epoch 69/150
25724/25724 [==============================] - 1s 27us/sample - loss: 0.5521 - acc: 0.7294
Epoch 70/150
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5523 - acc: 0.7292
Epoch 71/150
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5522 - acc: 0.7293
Epoch 72/150
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5523 - acc: 0.7294
Epoch 73/150
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5522 - acc: 0.7296
Epoch 74/150
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5524 - acc: 0.7289
Epoch 75/150
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5524 - acc: 0.7291
Epoch 76/150
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5521 - acc: 0.7292
Epoch 77/150
25724/25724 [==============================] - 1s 28us/sample - loss: 0.5521 - acc: 0.7295
Epoch 78/150
25724/25724 [==============================] - 1s 27us/sample - loss: 0.5522 - acc: 0.7293
Epoch 79/150

25724/25724 [==============================] - 1s 26us/sample - loss: 0.5526 - acc: 0.7283
Epoch 80/150
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5521 - acc: 0.7287
Epoch 81/150
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5521 - acc: 0.7296
Epoch 82/150
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5520 - acc: 0.7294
Epoch 83/150
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5524 - acc: 0.7294
Epoch 84/150
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5523 - acc: 0.7289
Epoch 85/150
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5521 - acc: 0.7292
Epoch 86/150
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5522 - acc: 0.7294
Epoch 87/150
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5521 - acc: 0.7297
Epoch 88/150
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5520 - acc: 0.7287
Epoch 89/150
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5523 - acc: 0.7296
Epoch 90/150
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5521 - acc: 0.7291
Epoch 91/150
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5520 - acc: 0.7294
Epoch 92/150
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5519 - acc: 0.7298
Epoch 93/150
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5520 - acc: 0.7294
Epoch 94/150
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5520 - acc: 0.7288
Epoch 95/150
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5521 - acc: 0.7292
Epoch 96/150
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5520 - acc: 0.7298
Epoch 97/150
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5521 - acc: 0.7287
Epoch 98/150
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5522 - acc: 0.7294
Epoch 99/150
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5518 - acc: 0.7293
Epoch 100/150
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5520 - acc: 0.7293
Epoch 101/150
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5521 - acc: 0.7287
Epoch 102/150
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5523 - acc: 0.7297
Epoch 103/150
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5519 - acc: 0.7295
Epoch 104/150
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5521 - acc: 0.7296
Epoch 105/150
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5521 - acc: 0.7292
Epoch 106/150
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5519 - acc: 0.7295
Epoch 107/150
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5519 - acc: 0.7296
Epoch 108/150
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5520 - acc: 0.7294
Epoch 109/150
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5522 - acc: 0.7285
Epoch 110/150
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5522 - acc: 0.7291
Epoch 111/150
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5521 - acc: 0.7295
Epoch 112/150
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5522 - acc: 0.7287
Epoch 113/150
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5519 - acc: 0.7294
Epoch 114/150
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5521 - acc: 0.7290
Epoch 115/150
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5519 - acc: 0.7294
Epoch 116/150
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5522 - acc: 0.7290
Epoch 117/150
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5520 - acc: 0.7290
Epoch 118/150
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5521 - acc: 0.7288
Epoch 119/150
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5519 - acc: 0.7293
Epoch 120/150
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5520 - acc: 0.7291
Epoch 121/150
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5519 - acc: 0.7295
Epoch 122/150
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5521 - acc: 0.7286
Epoch 123/150
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5523 - acc: 0.7289
Epoch 124/150
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5521 - acc: 0.7290
Epoch 125/150
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5520 - acc: 0.7292
Epoch 126/150
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5520 - acc: 0.7289
Epoch 127/150
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5518 - acc: 0.7289
Epoch 128/150
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5519 - acc: 0.7290
Epoch 129/150
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5518 - acc: 0.7289
Epoch 130/150
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5520 - acc: 0.7286
Epoch 131/150
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5520 - acc: 0.7293
Epoch 132/150
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5520 - acc: 0.7292
Epoch 133/150
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5518 - acc: 0.7289
Epoch 134/150
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5517 - acc: 0.7292
Epoch 135/150
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5518 - acc: 0.72930s - loss: 0.5605 -
Epoch 136/150
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5519 - acc: 0.7296
Epoch 137/150
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5520 - acc: 0.7295
Epoch 138/150
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5519 - acc: 0.7288
Epoch 139/150
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5517 - acc: 0.7294
Epoch 140/150
25724/25724 [==============================] - 1s 27us/sample - loss: 0.5518 - acc: 0.7292
Epoch 141/150
25724/25724 [==============================] - 1s 28us/sample - loss: 0.5518 - acc: 0.7295
Epoch 142/150
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5516 - acc: 0.7283
Epoch 143/150
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5518 - acc: 0.7297
Epoch 144/150
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5516 - acc: 0.7291
Epoch 145/150
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5518 - acc: 0.7287
Epoch 146/150
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5518 - acc: 0.7292
Epoch 147/150
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5514 - acc: 0.7296
Epoch 148/150
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5517 - acc: 0.7293
Epoch 149/150
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5519 - acc: 0.7290
Epoch 150/150
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5517 - acc: 0.7295

In [17]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/8575 - 0s - loss: 0.5545 - acc: 0.7325
Loss: 0.5545415531928616, Accuracy: 0.732478141784668

In [18]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity_Optimization.h5')